<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center"> {# Ajout de Flexbox ici #}
            <div class="col-md-6 d-flex align-items-center">
                <img src="{{ asset('images/logo_WorkTogether.png') }}" alt="Logo WorkTogether" class="logo img-fluid me-2" width="40" height="40">
                <span class="fw-bold">WorkTogether</span>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-inline mb-0 d-flex justify-content-end gap-3"> {# Ajout de flex et un espacement #}
                    <li class="list-inline-item">
                        <a class="text-light text-decoration-none" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-light text-decoration-none" href="#">Mentions Légales</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-light text-decoration-none" href="{{ path('app_cgu') }}">CGU</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-light text-decoration-none" href="#">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
