{% extends 'base.html.twig' %}

{% block title %}Confirmation d'annulation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <header class="text-center mb-5">
            <h1 class="text-primary">Confirmation d'annulation</h1>
        </header>

        <div class="text-center">
            <p class="text-success">Votre commande numéro {{ order.Id }} a été annulée avec succès.</p>
            <a href="{{ path('offer_index') }}" class="btn btn-primary mt-5">Retour à la liste des offres</a>
        </div>
    </div>
{% endblock %}
